.dayCell {
  appearance: none;
  border: none;
  background: none;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.dayCellDisabled {
  color: var(--disabled);
}

.dayCellWeekend {
  color: var(--error);
}
